
.cont-4 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(255,255,255,0.837);
}
.cont-5 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(255,255,255,0.837);
}
.cont-7 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(255,255,255,0.803);
}
@media (max-width:1199px) {
.cont-4 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(255,255,255,0.837);
}
.cont-5 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(255,255,255,0.837);
}
.cont-7 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(255,255,255,0.803);
}
}

