<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - PocketTrailer WatchKit App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PocketTrailer Today Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PocketTrailer WatchKit App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PocketTrailer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Trailer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1618527A1AB2CB9000526D81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1628A6B018789E73005EDA69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1628A6DA18789E73005EDA69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>164840DA1AD1633F009E6383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>164840E71AD1633F009E6383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16522D6F1AB03AE500B1C3FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16522D7B1AB03AE500B1C3FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>168BC6A917EC2DF000BC4584</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>168BC6CD17EC2DF000BC4584</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
